# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
build/
dist/

# production
*.tgz

# misc
.DS_Store
Thumbs.db
*.log
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# editor
.vscode/
.idea/
